@tailwind base;
@tailwind components;
@tailwind utilities;

/** TTFirsNeue */
@layer base {
  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Black-Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTFirsNeue';
    src: url('/fonts/TT-Firs_Neue/TT-Firs-Neue-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  /** NeueHaasUnicaPro */

  @font-face {
    font-family: 'NeueHaasUnicaPro';
    src: url('/fonts/Neue Haas Unica Pro/NeueHaasUnicaPro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NeueHaasUnicaPro';
    src: url('/fonts/Neue Haas Unica Pro/NeueHaasUnicaPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'NeueHaasUnicaPro';
    src: url('/fonts/Neue Haas Unica Pro/NeueHaasUnicaPro-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'NeueHaasUnicaPro';
    src: url('/fonts/Neue Haas Unica Pro/NeueHaasUnicaPro-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'NeueHaasUnicaPro';
    src: url('/fonts/Neue Haas Unica Pro/NeueHaasUnicaPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
}